<div class="row">
  <div class="offset-md-3 col-md-6">
    <nb-card>
      <nb-card-header>Enter the details</nb-card-header>
      <nb-card-body>
        <form (ngSubmit)="submit()">
          <div class="form-group row">
            <label for="url" class="label col-sm-3 col-form-label">
              URL
            </label>
            <div class="col-sm-9">
              <input
                type="url"
                nbInput
                fullWidth
                id="url"
                required
                name="url"
                [(ngModel)]="url"
              />
            </div>
          </div>
          <div class="form-group row">
            <label for="inputPassword2" class="label col-sm-3 col-form-label">
              Target price
            </label>
            <div class="col-sm-9">
              <input
                type="number"
                min="1"
                nbInput
                fullWidth
                id="target-price"
                required
                name="target"
                [(ngModel)]="targetPrice"
              />
            </div>
          </div>

          <div class="form-group row">
            <div class="offset-sm-3 col-sm-9">
              <button type="submit" nbButton status="primary">
                Submit
              </button>
            </div>
          </div>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>
